/***************************************
*                 Visual               *
***************************************/

	#visual {
		width: 100%;
    height: auto;
    position: relative;
    padding-top: 56.25%;
		overflow: hidden;
	}

	#visual video{
		width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	}

	.section{
		min-height: 100vh;
	}

	@media screen and (max-width: 1279px) {
		.section{
			min-height: unset;
		}
	}

	@media screen and (max-width: 767px) {

		#visual {
			height: 51rem;
			padding-top: 0;
		}

		#visual video {
			width: unset;
			height: 100%;
			top: 60px;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}

/***************************************
*               Section 1              *
***************************************/

	#section1{
		padding-top: calc(50vh + 4.2rem);
		margin-bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
  }

  #section1 .slideWrap .slideItem{
		padding-top: calc(15vh - 2.5rem);
		padding-bottom: calc(15vh - 2.5rem);
	  text-align: center;
	  font-size: 5rem;
	  font-weight: bold;
	  line-height: 1;
	  color: #282828;
		opacity: 0;
  }
  #section1 .slideWrap .slideItem .icon{
	width: 5rem;
	height: 5rem;
	margin: 0 2rem;
	display: inline-block;
	vertical-align: top;
	background-size: 7rem 7rem;
	background-position: -1rem -1rem;
	background-repeat: no-repeat;
  }
  #section1 .slideWrap .item1 .icon{background-image: url(../img/icon_sec1_slide1.gif);}
  #section1 .slideWrap .item2 .icon{background-image: url(../img/icon_sec1_slide2.gif);}
  #section1 .slideWrap .item3 .icon{background-image: url(../img/icon_sec1_slide3.gif);}
  #section1 .slideWrap .item4 .icon{background-image: url(../img/icon_sec1_slide4.gif);}
  #section1 .slideWrap .item5 .icon{background-image: url(../img/icon_sec1_slide5.gif);}
  #section1 .slideWrap .item6 .icon{background-image: url(../img/icon_sec1_slide6.gif);}


	@media screen and (max-width: 1279px) {


		#section1 .slideWrap .slideItem {
			padding-top: calc(15vh - 1.8rem);
			padding-bottom: calc(15vh - 1.8rem);
			font-size: 3.6rem;
		}

		#section1 .slideWrap .slideItem .icon{
			width: 4.3rem;
			height: 4.3rem;
			margin: 0 0.5rem;
			background-size: 4.3rem 4.3rem;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	@media screen and (max-width: 767px) {

		#section1 .slideWrap .slideItem{
			padding-top: calc(15vh - 0.9rem);
			padding-bottom: calc(15vh - 0.9rem);
			font-size: 1.8rem;
		}

		#section1 .slideWrap .slideItem .icon{
			width: 2.6rem;
			height: 2.6rem;
			margin: 0 0.2rem;
			background-size: contain;
		}

	}



/***************************************
*               Section 2              *
***************************************/

	#section2{
		height: 220rem;
		text-align: center;
	}

	#section2 .rollingFrame{
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
    overflow: hidden;
	}

	#section2 .rollingItem{
		font-size: 6rem;
		font-weight: 700;
		transition: all .2s;
	}

	#section2 .rollingItem.item1,
	#section2 .rollingItem.item2{
		margin-bottom: 1.6rem;
		opacity: 0;
		color: #282828;
	}

	#section2 .rollingItem.item3{
		margin-top: 4rem;
		font-size: 10rem;
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
    transform: scale(0.1);
		opacity: 0;
		word-break: keep-all;
	}

	@media screen and (max-width: 767px) {

		#section2{
			height: 500vw;
		}

		#section2 .rollingItem{
			font-size: 4rem;
		}

		#section2 .rollingItem.item3{
			font-size: 5.6rem;
		}
	}



/***************************************
*               Section 3              *
***************************************/

	#section3{
		height: 480vh;
		background-color: #f0f0f0;
	}

	#section3 .rollingFrame{
		height: 100vh;
		padding-top: 20vh;
		padding-bottom: 8vh;
    position: sticky;
    top: 0;
    left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		-webkit-perspective: 1000;
		        perspective: 1000;
	}

	#section3 .slideContainer{
		width: 128rem;
		margin: 7rem auto 0;
		display: flex;
		flex-wrap: nowrap;
	}

	#section3 .slideContainer .slideItem{
		width: calc(100% - 20rem);
		margin: 0 10rem;
		padding: 10rem;
		flex-shrink: 0;
		border-radius: 4rem;
		box-shadow: 0px 32px 40px rgba(129, 129, 129, 0.16);
		background-size: 402px 265px;
		background-position: right center;
		background-repeat: no-repeat;
		background-color: #fff;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}

	#section3 .slideContainer .slideItem:hover{
		box-shadow: 0px 32px 40px rgba(129, 129, 129, 0.32);
	}

	#section3 .slideContainer .slideItem.item1{background-image: url(../img/bg_mainSlide1.png);}
	#section3 .slideContainer .slideItem.item2{background-image: url(../img/bg_mainSlide2.png);}
	#section3 .slideContainer .slideItem.item3{background-image: url(../img/bg_mainSlide3.png);}
	#section3 .slideContainer .slideItem.item4{background-image: url(../img/bg_mainSlide4.png);}
	#section3 .slideContainer .slideItem.item5{background-image: url(../img/bg_mainSlide5.png);}
	#section3 .slideContainer .slideItem.item6{background-image: url(../img/bg_mainSlide6.png);}
	#section3 .slideContainer .slideItem.item7{background-image: url(../img/bg_mainSlide7.png);}

	#section3 .slideContainer .slideItem .itemTitle{
		font-size: 4.4rem;
		font-weight: 700;
    color: #282828;
	}

	#section3 .slideContainer .slideItem .itemDesc{
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}

	#section3 .slideContainer .slideItem .itemDesc .hashtag{
		margin-right: 1rem;
		font-size: 2rem;
		color: #888;
	}

	#section3 .slideContainer .slideItem .itemDesc .hashtag::before{
		content: '#';
	}

	#section3 .slideContainer .slideItem .btn{
		margin-top: 10rem;
	}


	@media screen and (max-width:1600px) {

		#section3 .slideContainer .slideItem{
			width: calc(100% - 60rem);
			margin: 0 30rem;
		}
	}

	@media screen and (max-width:1366px) {

		#section3 .slideContainer .slideItem{
			width: calc(100% - 20rem);
			margin: 0 10rem;
		}
	}


	@media screen and (max-width:1279px) {


		#section3 .innerWrap{
			padding: 0;
		}
		
		#section3 .slideContainer{
			width: 76.8rem;
			margin-top: 5rem;
		}

		#section3 .slideContainer .slideItem{
			width: calc(100% - 10rem);
			margin: 0 5rem;
			padding: 8rem;
			background-position: right center;
		}

		#section3 .slideContainer .slideItem .btn{
			margin-top: 8rem;
		}
	}

	@media screen and (max-width: 767px) {

		#section3 .rollingFrame{
			padding-top: 15rem;
			padding-bottom: 15rem;
			justify-content: center;
		}

		#section3 .slideContainer{
			width: 48rem;
		}

		#section3 .slideContainer .slideItem {
			width: calc(100% - 2rem);
			height: 24rem;
			margin: 0 1rem;
			padding: 4rem 3rem;
			position: relative;
			background-size: 19rem 13rem;
		}

		#section3 .slideContainer .slideItem .itemTitle{
			font-size: 2.6rem;
		}

		#section3 .slideContainer .slideItem .itemDesc{
			flex-direction: column;
			align-items: start;
			gap: 0.5rem;
		}

		#section3 .slideContainer .slideItem .itemDesc .hashtag {
			font-size: 1.6rem;
		}

		#section3 .slideContainer .slideItem .btn{
			margin-top: 0;
			position: absolute;
			bottom: 4rem;
			left: 4rem;
		}

	}

	@media screen and (max-width: 480px) {
		#section3{
			height: 900vw;
		}

		#section3 .slideContainer{
			width: 32rem;
		}

		#section3 .slideContainer .slideItem .btn{
			
		}
	}




/***************************************
*               Section 4              *
***************************************/

	#section4{
    width: 100%;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    padding-top: 16rem;
    padding-bottom: 10rem;
	}

	#section4 .innerWrap{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
	}

	#section4 .subTitle{
		margin-top: 16rem;
	}

	#section4 .secTitle{
		margin-top: 3rem;
	}

	#section4 .btn{
		margin-top: 6rem;
	}

	#section4 .innerWrap .swiperWrapper{
		border-radius: 24px;
		width: 38rem;
		height: 77.2rem;	
		position: relative;
		padding: 14px;
		overflow: hidden;
	}

	#section4 .innerWrap .swiperWrapper::before{
		content: '';
		width: 100%;
		height: calc(100% + 1px);
		position: absolute;
		top: 0;
		right: 0;
		background: url("../img/phone_frame.png") no-repeat center/cover;
		z-index: 10;
	}

	#section4 .innerWrap .swiperWrapper .swiperItem{
		width: 100%;
		height: 77.2rem;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	#section4 .innerWrap .swiperWrapper .item1{background-image: url(../img/bg_mainSwiper1.png);}
	#section4 .innerWrap .swiperWrapper .item2{background-image: url(../img/bg_mainSwiper2.png);}
	#section4 .innerWrap .swiperWrapper .item3{background-image: url(../img/bg_mainSwiper3.png);}
	#section4 .innerWrap .swiperWrapper .item4{background-image: url(../img/bg_mainSwiper4.png);}
	#section4 .innerWrap .swiperWrapper .item5{background-image: url(../img/bg_mainSwiper5.png);}
	#section4 .innerWrap .swiperWrapper .item6{background-image: url(../img/bg_mainSwiper6.png);}

	@media screen and (max-width: 1279px) {

		#section4 .innerWrap .swiperWrapper {
			border-radius: 10px;
			width: 30rem;
			height: 61.2rem;
			padding: 12px;
		}

	}

	@media screen and (max-width: 767px) {

		#section4{
			padding-top: 10rem;
			padding-bottom: 5rem;
		}

		#section4 .innerWrap{
			position: relative;
			display: block;
		}

		#section4 .wrapper{
			padding-top: 57.2rem;
			text-align: center;
		}

		#section4 .subTitle{
			margin-top: 2rem;
		}
		
		#section4 .innerWrap .swiperWrapper{
			width: 28rem;
			height: 57.2rem;
			padding: 3px;
			position: absolute;
			bottom: auto;
			right: auto;
			left: calc(50% - 14rem);
			top: 0;
		}

		#section4 .innerWrap .swiperWrapper .swiperItem{
			height: 57.2rem;
		}

		#section4 .btn{
			margin-top: 2rem;
		}

	}



/***************************************
*               Section 5              *
***************************************/

	#section5{
		min-height: auto;
		padding-top: 16rem;
		padding-bottom: 16rem;
	}

	#section5 .secTitle{
		text-align: center;
	}

	#section5 .container{
		margin-top: 6rem;
		gap: 1rem;
	}

	#section5 .partners{
		width: 100%;
	}

	@media screen and (max-width: 1279px) {

		#section5{
			padding-top: 5rem;
		}
		
		#section5 .partners{
			margin-top: 0;
		}
	}



/***************************************
*               Section 6              *
***************************************/

	#section6{
		width: 100%;
		min-height: auto;
		padding-top: 6rem;
		padding-bottom: 6rem;
		background-color: #282828;
	}

	#section6 .secTitle{
		font-size: 3rem;
		color: #fff;
	}

	#section6 .wrap button{
		color: #282828;
		padding: 9px 20px;
		background-color: #fff;
		border-radius: 22px;
		transition: all 0.3s;
	}

	#section6 .wrap button:hover{
		color: #E50A84;
	}

	@media screen and (max-width: 1279px) {
		
		#section6 .secTitle{
			font-size: 2.4rem;
		}
	}

	@media screen and (max-width: 767px) {

		#section6 .innerWrap{
			flex-wrap: nowrap;
			gap: 1rem;
		}

		#section6 .secTitle{
			width: calc(100% - 11.4rem);
			font-size: 1.6rem;
			line-height: 1.2;
			word-break: keep-all;
		}
	}