@charset "utf-8";

/***************************************
*              Sub Common              *
***************************************/

	.section{
		min-height: 100vh;
		padding-top: 9rem;
		padding-bottom: 9rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.secTitle{
		font-size: 5.6rem;
		color: var(--dark);
	}

	.subTitle{
		margin-top: 3rem;
		font-size: 2.4rem;
		color: var(--gray2);
	}

	/* Orange로 했을때 클래스명이 시멘틱하지않아서 fontOrange에서 fontColor로 변경함 */
	.fontColor{
		font-size: inherit;
		font-weight: inherit;
		color: var(--mint);
	}

	@media screen and (max-width: 1279px) {

		.section{
			height: auto;
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		.secTitle{
			font-size: 5rem;
		}

		.subTitle{
			font-size: 2rem;
		}
	}

	@media screen and (max-width: 767px) {

		.secTitle{
			font-size: 3rem;
		}

		.subTitle{
			font-size: 1.6rem;
			line-height: 1.2;
		}
	}

/***************************************/



/***************************************
*            systemDev.html            *
***************************************/

	/********* section1 *********/

		#systemDev #section1{
			padding-top: 0;
			padding-bottom: 0;
		}

		#systemDev #section1 .innerWrap{
			height: 100vh;
			position: relative;
		}

		#systemDev #section1 .secTitle{
			width: 100%;
			margin-top: -6rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}

		#systemDev #section1 .secTitle,
		#systemDev #section1 .secTitle div{
			font-size: 8.6rem;
			font-weight: 700;
			color: var(--gray1);
			margin-bottom: 20px; /* 행간이 좁아서 속성 추가함 @수정*/
		}

		#systemDev #section1 .secTitle.title2{
			opacity: 0;
			animation-name: titleSecondMotion;
			animation-duration: 2.5s;
			animation-delay: 1s;
			animation-fill-mode: forwards;
		}

		#systemDev #section1 .subTitle{
			width: 100%;
			margin-top: 12rem;
			position: absolute;
			top: 52%; /* 행간이 좁아서 50%에서 52%로 수정함 @수정*/
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		
		#systemDev #section1 .subTitle .title1{
			margin-bottom: 3rem; /* 2rem에서 3rem으로 수정함 @수정 */
			transform: translateY(500%);
			opacity: 0;
			font-size: 2.8rem;
			font-weight: 600; /* 폰트두께 피그마와 달라서 속성 추가함 @수정 */
			color: var(--dark); /* 색상 피그마와 달라서  수정함 @수정 */
			animation-name: titleTopMotion;
			animation-duration: 1s;
			animation-delay: 2.5s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.9,0,.58,1);
		}
		
		#systemDev #section1 .subTitle .title1 .fontColor{
			margin-right: 2rem;
		}

		#systemDev #section1 .subTitle .title2{
			margin-top: 1rem;
			transform: translateY(250%);
			opacity: 0;
			font-size: 2rem;
			animation-name: titleBottomMotion;
			animation-duration: 1s;
			animation-delay: 3.5s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.9,0,.58,1);
		}

		@keyframes titleFirstMotion {
			30% {opacity: 1;}
			70% {opacity: 1;}
			100% {opacity: 0;}
		}
		@keyframes titleSecondMotion {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		@keyframes titleTopMotion {
			0%{
				opacity: 0;
				transform: translateY(500%);
			}
			100%{
				opacity: 1;
				transform: translateY(0);
			}
		}
		@keyframes titleBottomMotion {
			0%{
				opacity: 0;
				transform: translateY(250%);
			}
			100%{
				opacity: 1;
				transform: translateY(0);
			}
		}
	

		@media screen and (max-width: 767px) {
			#systemDev #section1 .secTitle,
			#systemDev #section1 .secTitle div{
				font-size: 5rem;
				line-height: 1.2;
				margin-bottom: 6px; /* 추가함 @수정 */
				/* color: var(--gray1);  위에 색상값 줘서 중복 삭제함 @수정 */
			}

			#systemDev #section1 .subTitle{
				padding-left: 2rem;
				padding-right: 2rem;
			}

			#systemDev #section1 .subTitle .title1{
				font-size: 2rem;
				line-height: 1.2;
			}

			#systemDev #section1 .subTitle .title1 .fontColor{
				margin-right: 0.5rem;
			}

			#systemDev #section1 .subTitle .title2{
				font-size: 1.4rem;
				line-height: 1.2;
			}
		}



	/********* section2 *********/

		#systemDev #section2{
			background-color: var(--gray6);
		}

		#systemDev #section2 .secTitle,
		#systemDev #section2 .subTitle{
			text-align: center;
		}

		#systemDev #section2 .flexWrap.grid{
			margin-top: 5rem;
		}

		#systemDev #section2 .profile{
			padding: 2rem 2.5rem;
			display: flex;
			align-items: center;
			gap: 2rem;
			background-color: var(--white);
			border: 1px solid var(--gray4);
			border-radius: 2rem;
		}

		#systemDev #section2 .profile img{
			width: 12rem;
			height: 12rem;
		}

		#systemDev #section2 .profile figcaption{
			height: 15rem;
			padding-left: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-left: 1px solid var(--gray5);
		}

		#systemDev #section2 .profile figcaption .caption{
			color: var(--dark); /* 000에서 2828로 @수정 */
			margin-top: .5rem; /* 센터안맞는것 같아서 추가함 @수정*/
			margin-bottom: 1.7rem; /* 1.4rem에서 1.7rem으로 @수정*/
			font-size: 2.4rem;
		}

		#systemDev #section2 .profile figcaption .description{
			margin-bottom: 1rem;
			font-size: 1.6rem;
			color: var(--gray2);
			line-height: 1; /* 1.2에서 1로 @수정 */
		}

		@media screen and (max-width: 1366px) {
			
			#systemDev #section2 .profile{
				padding: 1.5rem 2rem;
			}

			#systemDev #section2 .profile figcaption{
				height: 12rem;
			}

		}

		@media screen and (max-width: 1279px) {

			#systemDev #section2 .flexWrap.grid div:nth-child(1){order: 2;}
			#systemDev #section2 .flexWrap.grid div:nth-child(2){order: 1;}
			#systemDev #section2 .flexWrap.grid div:nth-child(3){order: 3;}
			#systemDev #section2 .flexWrap.grid div:nth-child(4){order: 4;}
			#systemDev #section2 .flexWrap.grid div:nth-child(5){order: 5;}
			#systemDev #section2 .flexWrap.grid div:nth-child(6){order: 6;}
		}

		@media screen and (max-width: 767px) {
			
			#systemDev #section2{
				padding-top: 10rem;
				padding-bottom: 10rem;
			}				

			#systemDev #section2 .profile{
				padding: 2rem;
				gap: 1rem;
			}

			#systemDev #section2 .profile img{
				width: 10rem;
				height: 10rem;
			}

			#systemDev #section2 .profile figcaption{
				height: 12rem;
			}

			#systemDev #section2 .profile figcaption .description{
				font-size: 1.4rem;
			}

			#systemDev #section2 .storyWrap{
				width: 100%;
			}

			#systemDev #section2 .storyWrap .contTitle{
				width: 12.2rem;
				padding-left: 2rem;
				font-size: 1.4rem;
				text-align: center;
				line-height: 1.4;
			}
		}
		


	/********* section3 *********/
		#systemDev #section3 .innerWrap{
			width: 100%;
			color: var(--dark); /* 색상 000으로 되어있어서 #282828 속성 추가함 @수정 */
		}

		#systemDev #section3 .secTitle,
		#systemDev #section3 .subTitle{
			text-align: center;
		}

		#systemDev #section3 .subTitle{
			margin-top: 2.4rem;
		}

		#systemDev #section3 .contWrap{
			display: flex;
			justify-content: center;
			margin-top: 6rem;
			overflow: hidden;
		}

		#systemDev #section3 .contWrap .contentBox{
			height: 19rem;
			float: left;
			padding: 7rem 4.6rem;
			border-radius: 11rem;
			background-color: var(--gray6);
			display: flex; /* 추가함 @수정 */
			flex-direction: column; /* 추가함 @수정 */
			justify-content: center; /* 추가함 @수정 */
		}

		#systemDev #section3 .contWrap .content1{
			background-color: var(--gray6);
		}
		#systemDev #section3 .contWrap .content2{
			margin-left: -3rem;
			background-color: rgba(0, 175, 195, 0.3);
		}
		#systemDev #section3 .contWrap .content3{
			margin-left: -3rem;
			background-color: rgba(0, 175, 195, 0.5);
		}
		#systemDev #section3 .contWrap .content4{
			margin-left: -3rem;
			background-color: rgba(0, 175, 195, 0.7);
		}
		#systemDev #section3 .contWrap .content5{
			width: 19rem;
			margin-left: -3rem;
			/* display: flex; */
			/* flex-direction: column; */
			/* justify-content: center; */
			color: var(--white);
			background-color: var(--dark);
			border-radius: 50%;
		}
		#systemDev #section3 .contWrap .contentBox .contTitle{
			font-size: 2rem;
			font-weight: 600;
		}
		#systemDev #section3 .contWrap .contentBox.content1 .contTitle{text-align: right;}
		#systemDev #section3 .contWrap .contentBox.content2 .contTitle{text-align: left;}
		#systemDev #section3 .contWrap .contentBox.content3 .contTitle{text-align: left;}
		#systemDev #section3 .contWrap .contentBox.content4 .contTitle{text-align: left;}
		#systemDev #section3 .contWrap .contentBox.content5 .contTitle{text-align: center;}

		#systemDev #section3 .contWrap .contentBox .contDesc{
			margin-top: 1.5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText{
			line-height: 1.6;
			margin: 0 2rem;
			padding-left: 1rem;
			padding-right: 1rem;
			position: relative;
			font-size: 1.4rem;
			display: flex; /* 추가함 @수정 */
			flex-direction: column; /* 추가함 @수정 */
			justify-content: center; /* 추가함 @수정 */
		}

		#systemDev #section3 .contWrap .contentBox.content5 .contText{text-align: center;}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText:first-child{
			padding-left: 0;
		}
		#systemDev #section3 .contWrap .contentBox .contDesc .contText:last-child{
			padding-right: 0;
		}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText:first-child{
			margin-left: 0;
		}
		
		#systemDev #section3 .contWrap .contentBox .contDesc .contText:last-child{
			margin-right: 0;
		}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText::before{
			content: '';
			width: 5px;
			height: 5px;
			position: absolute;
			top: 5px;
			left: -5px;
			border-radius: 50%;
			background-color: var(--dark);
		}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText:first-child:before,
		#systemDev #section3 .contWrap .contentBox .contDesc .contText:last-child:after{
			content: none;
		}

		#systemDev #section3 .contWrap .contentBox .contDesc .contText::after{
			content: '';
			width: 4rem;
			height: 5px;
			position: absolute;
			top: 5px;
			right: -40px;
			background: url(../img/img_subDesignDev_line.png)center center no-repeat;
		}


		@media screen and (max-width: 1279px) {
			#systemDev #section3 .contWrap {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
			}

			#systemDev #section3 .contWrap .contentBox{
				margin-top: 1rem;
			}
		}

		@media screen and (max-width: 794px) {
			#systemDev #section3 .contWrap .content2,
			#systemDev #section3 .contWrap .content3{
				margin-left: 0;
			}
		}

		@media screen and (max-width: 767px) {
	
			#systemDev #section3 .secTitle{
				width: 100%;
				line-height: 1.2;
			}

			#systemDev #section3 .contWrap .contentBox{
				height: 16rem;
				padding: 3rem 4rem;
				border-radius: 8rem;
			}

			#systemDev #section3 .contWrap .contentBox .contTitle{
				line-height: 1.2;
			}
			#systemDev #section3 .contWrap .contentBox.content1 .contTitle{
				text-align: center;
			}

			#systemDev #section3 .contWrap .contentBox .contDesc .contText{
				padding-right: 0.2rem;
				line-height: 1.2; /* 추가함 @수정 */
			}

			#systemDev #section3 .contWrap .content4{
				width: 16rem;   /* 16rem에서 20rem으로 수정함 @수정 */
			}

		}

		@media screen and (max-width: 567px) {
			#systemDev #section3 .contWrap .content4{
				margin-left: 0;
			}
		}



	/********* section4 *********/

		#systemDev #section4{
			background-color: var(--gray5);
			padding-top: 16rem;
			padding-bottom: 0;
		}

		#systemDev #section4 .innerWrap{
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#systemDev #section4 .innerWrap .wrapper{
			flex-direction: column;
		}

		#systemDev #section4 .secTitle div,
		#systemDev #section4 .subTitle div{
			font-size: inherit;
		}

		#systemDev #section4 .secTitle div{
			margin-bottom: 1rem;
		}

		#systemDev #section4 .subTitle div{
			margin-bottom: 0.6rem;
		}
		#systemDev #section4 .innerWrap .swiperWrapper{
			width: 40rem;
			height: 71rem;	
			position: relative;
			padding: 66px 53px 0 53px ;
			overflow: hidden;
			margin-top: 7rem;
		}
	
		#systemDev #section4 .innerWrap .swiperWrapper::before{
			content: '';
			width: 100%;
			height: calc(100% + 1px);
			position: absolute;
			top: 0;
			right: 0;
			background: url("../img/dev/dev_kiosk_frame.png") no-repeat center/cover;
			z-index: 10;
		}
	
		#systemDev #section4 .innerWrap .swiperWrapper .swiperItem{
			width: 100%;
			height: 52.2rem;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	
		#systemDev #section4 .innerWrap .swiperWrapper .item1{background-image: url(../img/dev/dev_kiosk_swiper_01.png);}
		#systemDev #section4 .innerWrap .swiperWrapper .item2{background-image: url(../img/dev/dev_kiosk_swiper_02.png);}
		#systemDev #section4 .innerWrap .swiperWrapper .item3{background-image: url(../img/dev/dev_kiosk_swiper_03.png);}
		#systemDev #section4 .innerWrap .swiperWrapper .item4{background-image: url(../img/dev/dev_kiosk_swiper_04.png);}
		#systemDev #section4 .innerWrap .swiperWrapper .item5{background-image: url(../img/dev/dev_kiosk_swiper_05.png);}
	

		@media screen and (max-width: 1279px) {

			#systemDev #section4 .wrapper{
				width: 44%;
			}
			#systemDev #section4 .subTitle div{
				line-height: 1.2;
			}

		}

		@media screen and (max-width: 767px) {

			#systemDev #section4 .innerWrap{
				display: flex;
				flex-direction: column;
			}
			#systemDev #section4 .wrapper{
				width: 90%;
				text-align: center;
			}
			#systemDev #section4 .subTitle div{
				line-height: 1.2;
			}
			#systemDev #section4 .innerWrap .swiperWrapper{
				width: 30rem;
				height: 53.2rem;	
				padding: 49px 39px 0 39px ;
				margin-top: 7rem;
			}
			#systemDev #section4 .innerWrap .swiperWrapper .swiperItem{
				width: 100%;
				height: 39.1rem;
			}
			
		}
/***************************************
*           //systemDev.html           *
***************************************/